@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Figtree";
}

body{
    display: flex;
    justify-content: center;
    margin: 30px;
    background: hsl(47, 88%, 63%);
}

.container{
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 20px 20px black;
    background-color: #fff;
    height: auto;
    padding: 20px;
}

.learn{
    border: 1px solid hsl(47, 88%, 63%);
    background: hsl(47, 88%, 63%);
    border-radius: 5px;
    padding: 5px;
    font-weight: 700;
    margin-top: 20px; 
    width: 100px;
    text-align: center;
}

.public{
    margin-top: 15px;
    font-weight: 600;
}

.btn{
    margin-top: 20px;
    text-decoration: none;
    font-size: larger;
    font-weight: 800;
    color: black;
    transition-duration: 0.3s;
}

.btn:hover{
    color: hsl(47, 88%, 63%);
    text-decoration: none;
}

.btn:active{
    color: red;
}

.paragraph{
    margin-top: 15px;
    font-weight: 500;
    color: gray;
    line-height: 25px;
}

.grid-container{
    display: grid;
    grid-template-columns: 55px 100px;
    align-items: center;
    justify-items: flex-start;
}

#perfil{
    margin-top: 20px;
}

.name{
    justify-content: end;
    margin-top: 20px;
    font-weight: 800;
}